body {
  height: 60%;
  margin: 0;
  font-family: 'Unica One', sans-serif;
  background: #111;
  font-size: 50%;
}

.button-1 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:#c11515 ;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #c11515}

.button:active {
  background-color: #f83a3a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-2 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:#c11515 ;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #c11515}

.button:active {
  background-color: #f83a3a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-3 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:#c11515 ;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #c11515}

.button:active {
  background-color: #f83a3a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-4 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:#c11515 ;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #c11515}

.button:active {
  background-color: #f83a3a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20%;
}